/* src/components/Body.module.css */

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
}

.quadrado_curso {
    position: relative;
    width: 200px;
    height: 200px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-top: 30px;
}

.quadrado_curso img {
    position: relative;
    z-index: 2;
    object-fit: cover;
    transition: filter 1.5s;
}

.quadrado_curso:hover img {
    filter: invert(1);
}

.quadrado_curso:hover .linha_quadrado {
    animation: linha 1s forwards;
}

.linha_quadrado {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background: linear-gradient(to right, #162e26, #1f5a39);
    border: none;
    width: 100%;
    z-index: 1;
    transition: height 2s;
}

@keyframes linha {
    from {
        height: 15px;
    }

    to {
        height: 100%;
    }
}

.quadrado_curso_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
}

.img_cursos {
    width: 70%;
    height: 70%;
}

.container2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}

.img_info_escola {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.img_escola {
    width: 550px;
    height: 250px;
    max-width: 100%;
    height: auto;
    transition: filter 1.5s;
}

.texto_infor {
    color: rgb(0, 0, 0);
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}

.texto_hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
    padding: 0.5rem;
}

.texto_hover a {
    color: white;
    text-decoration: none;
}

.img_info_escola:hover .texto_hover {
    opacity: 1;
}

.img_info_escola::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    opacity: 0;
    transition: opacity 0.5s;
}

.img_info_escola:hover::after {
    opacity: 1;
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}