/* src/components/Header.module.css */

.container {
  display: grid;
  grid-template-columns: 100px 2fr 200px 200px 1fr;
  align-items: center;
  background: linear-gradient(to right, #162e26, #1f5a39);
  padding: 1rem 2rem;
  color: white;
  width: 100%;
  gap: 1rem;
}

.logoELinha {
  display: flex;
  align-items: center;
}

.linhaVerticalGrande {
  background-color: #fff;
  width: 2px;
  height: 70px;
  margin-top: 5px;
  margin-left: 10px;
}

.logoEscola {
  width: 80px;
  height: 80px;
}

.infoEscola {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.infoEscola h2 {
  margin: 0;
}

.seducContainer {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.seducContainer h4 {
  margin: 0;
  margin-right: 10px;
}

.logoSeduc {
  width: 120px;
  height: 42px;
}

.linhaVerticalPequena {
  background-color: #fff;
  width: 2px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.cadastro,
.login,
.menu {
  text-align: center;
  position: relative;
}

.cadastro h3,
.login h3,
.menu h3 {
  margin: 0;
  font-size: 1.5rem;
}

.linha_laranja {
  grid-column: 1 / -1;
  width: calc(100% + 4rem);
  height: 3px;
  background-color: #F58634;
  margin-top: 10px;
  border: none;
  transform: translateX(-2rem);
}

.menu h3 {
  margin: 0;
  font-size: 2.0rem;
}

.cadastro::after {
  content: "";
  display: block;
  background: #F58634;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: -5px;
  left: 25px;
  transition: width 0.3s ease-in-out;
}

.cadastro:hover::after {
  width: 75%;
}

.login::after {
  content: "";
  display: block;
  background: #F58634;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: -5px;
  left: 32%;
  transition: width 0.3s ease-in-out;
}

.login:hover::after {
  width: 36%;
}

.login:hover,
.cadastro:hover,
.menu:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 80px 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 80px 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 80px 1fr 1fr;
  }

  .seducContainer {
    display: none;
  }

  .linhaVerticalPequena {
    display: none;
  }

  .infoEscola {
    margin-right: 0;
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 80px 1fr;
  }

  .infoEscola {
    display: none;
  }
}